<a href='/'>
  <div class="deep-dive-card">
    <div class="deep-dive-card_mask">
      <div class="deep-dive-card_content">
        <img src="../../../assets/images/header-logo.png" width="68" height="36">
        <span class="kerberos text-uppercase">kerveros</span>
        <span class="explained">CISSP Domain 1</span>
        <div class="d-flex ml-auto text-center video-duration">
          <span>6:45:20</span>
        </div>
      </div>
    </div>
    <div class="a-deep-dive d-flex">
      <span>A deep dive</span>
    </div>
  </div>
</a>