<div class="video-content">
  <div *ngFor="let domain of domainData">
    <mat-accordion>
      <mat-expansion-panel [expanded]="domain.idx === 1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <span class="domain-title__num">Domain {{domain.idx}}:</span>
          </mat-panel-title>
          <mat-panel-description>
            <span class="domain-title__text">{{domain.title}}</span>
            <mat-icon class="ml-auto show-more more">expand_more</mat-icon>
            <mat-icon class="ml-auto show-more less">expand_less</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div [id]="'demo'+domain.idx" class="row">
          <app-cissp-mind-card
            *ngFor="let item of domain.courses"
            class="col-md-4 col-sm-6 col-xm-12"
            [title]="item.title"
            [url]="item.url"
            [itemId]="item.idx"
            [groupSize]="domain.courses.length"
            [groupId]="domain.idx"
          ></app-cissp-mind-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="para-divider"></div>
  </div>
</div>