<div class="sp-testm-footer d-flex flex-column">
  <div class="sp-testm d-flex flex-column justify-content-center align-items-center">
      <div class="quote-icon"></div>
<!--        <div class="sp-subtitle sp-pink">Testimonials</div>-->
      <div class="sp-title">Our students love us</div>
      <div class="sp-spacer"></div>
      <div class="dc-carousel">
          <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="dc-carousel__item">
                          <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic1.jpg"/>
                          <div class="dc-carousel__item-desc">
                              I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                          </div>
                          <div class="sp-footer__divider"></div>
                          <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                          <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                      </div>
                      <div class="dc-carousel__item">
                          <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic2.jpg"/>
                          <div class="dc-carousel__item-desc">
                              I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                          </div>
                          <div class="sp-footer__divider"></div>
                          <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                          <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                      </div>
                      <div class="dc-carousel__item">
                          <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic3.jpg"/>
                          <div class="dc-carousel__item-desc">
                              I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                          </div>
                          <div class="sp-footer__divider"></div>
                          <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                          <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                      </div>
                  </div>
                  <div class="carousel-item ">
                      <div class="dc-carousel__item">
                          <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic4.jpg"/>
                          <div class="dc-carousel__item-desc">
                              I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                          </div>
                          <div class="sp-footer__divider"></div>
                          <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                          <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                      </div>
                      <div class="dc-carousel__item">
                          <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic5.jpg"/>
                          <div class="dc-carousel__item-desc">
                              I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                          </div>
                          <div class="sp-footer__divider"></div>
                          <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                          <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                      </div>
                      <div class="dc-carousel__item">
                          <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic6.jpg"/>
                          <div class="dc-carousel__item-desc">
                              I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                          </div>
                          <div class="sp-footer__divider"></div>
                          <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                          <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                      </div>
                  </div>
                  <div class="carousel-item ">
                      <div class="dc-carousel__item">
                          <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic4.jpg"/>
                          <div class="dc-carousel__item-desc">
                              I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                          </div>
                          <div class="sp-footer__divider"></div>
                          <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                          <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                      </div>
                      <div class="dc-carousel__item">
                          <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic5.jpg"/>
                          <div class="dc-carousel__item-desc">
                              I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                          </div>
                          <div class="sp-footer__divider"></div>
                          <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                          <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                      </div>
                      <div class="dc-carousel__item">
                          <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic6.jpg"/>
                          <div class="dc-carousel__item-desc">
                              I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                          </div>
                          <div class="sp-footer__divider"></div>
                          <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                          <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                      </div>
                  </div>
              </div>
              <ol class="carousel-indicators">
                  <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselIndicators" data-slide-to="2"></li>
              </ol>
          </div>
      </div>
  </div>

  <footer class="sp-footer">
      <div class="d-flex sp-footer-res-width row m-auto">
          <div class="col-md-4 col-sm-12 d-flex flex-column justify-content-sm-center text-center text-md-left justify-content-md-between">
              <div class="sp-footer__logo"></div>
              <div class="sp-pink mb-1">© 2020 Destination Certification Inc.</div>
              <div class="sp-purple">All rights reserved.</div>
          </div>
          <div class="sp-footer__divider d-lg-none d-md-none d-sm-block w-75"></div>
          <div class="col-md-5 col-sm-12 p-0 row">
              <div class="sp-footer__list d-flex flex-column col-6 align-items-center align-items-md-start">
                  <div class="sp-footer__sec-title">Company</div>
                  <a class="sp-purple" href="../courses/courses.html">Courses</a>
                  <a class="sp-purple" href="../int-sys/int-sys.html">Intelligent System</a>
                  <a class="sp-purple" href="#">Our Team</a>
              </div>
              <div class="sp-footer__list d-flex flex-column col-6 align-items-center align-items-md-start">
                  <div class="sp-footer__sec-title">Legal</div>
                  <a class="sp-purple" href="#">Privacy Policy </a>
                  <a class="sp-purple" href="#">Terms of use </a>
              </div>
          </div>
          <div class="sp-footer__divider d-lg-none d-md-none d-sm-block w-75"></div>
          <div class="d-flex flex-fill flex-column col-sm-12 col-md-3 p-0 text-center text-md-left">
              <div>Follow us</div>
              <div class="d-flex flex-wrap justify-content-sm-center justify-content-center justify-content-md-start">
                  <a href="https://www.facebook.com/Destination-Certification-242199760101700/" target="_blank" class="sp-footer__icon facebook-normal"></a>
                  <a href="https://www.instagram.com/destcert/" target="_blank" class="sp-footer__icon instagram-normal"></a>
                  <a href="https://ca.linkedin.com/company/destination-certification" target="_blank" class="sp-footer__icon linkedin-normal"></a>
                  <a href="https://twitter.com/destcert" target="_blank" class="sp-footer__icon twitter-normal"></a>
                  <a href="https://www.youtube.com/c/DestinationCertification" target="_blank" class="sp-footer__icon youtube-normal"></a>
              </div>
          </div>
      </div>
  </footer>
</div>