.sp-title {
  font-size: 36px;
  text-align: center;
}

@media screen and (min-width: 320px) {

  .sp-footer__logo,
  .sp-footer__divider {
    margin-left: auto;
    margin-right: auto;
  }

  .sp-testm-footer .sp-testm .dc-carousel__item:nth-child(2) {
    display: none;
  }
  .sp-testm-footer .sp-testm .dc-carousel__item:nth-child(3) {
    display: none;
  }
  
  .footer-logo-text {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {

  .sp-footer__logo {
    margin-left: 0;
  }

  .sp-footer__divider {
    margin-left: auto;
    margin-right: auto;
  }

  .sp-testm-footer .sp-testm .dc-carousel__item:nth-child(2) {
    height: 470px;
    display: inline-flex;
  }

  a {
    text-align: left;
  }

  .carousel-indicators li:nth-child(7),
  .carousel-indicators li:nth-child(8),
  .carousel-indicators li:nth-child(9) {
    display: none;
  }

  .footer-logo-text {
    text-align: left;
  }
}
@media screen and (min-width: 1024px) {
  .sp-testm-footer .sp-testm .dc-carousel__item:nth-child(2) {
    height: 530px;
  }

  .sp-testm-footer .sp-testm .dc-carousel__item:nth-child(3) {
    display: inline-flex;
  }

  .carousel-indicators li:nth-child(4),
  .carousel-indicators li:nth-child(5),
  .carousel-indicators li:nth-child(6),
  .carousel-indicators li:nth-child(7),
  .carousel-indicators li:nth-child(8),
  .carousel-indicators li:nth-child(9) {
    display: none;
  }
}
