<div class="resource-apps mx-auto">
  <div class="resource-apps_card d-flex mt-5">
    <div class="resource-apps_card_img d-flex">
      <img src='../../../../assets/images/card_app-1.png' alt="card_app-1">
    </div>
    <div class="resource-apps_card_details d-flex flex-column">
      <span class="resource-apps_card_title mb-1">CISSP Flashcards</span>
      <div class="sp-spacer my-3"></div>
      <div class="resource-apps_card_overview mt-1">
        <p>
          Want to pass the CISSP exam? Our CISSP flashcards are specifically written to help you pass the CISSP exam by leveraging over 20 years of knowledge teaching CISSP courses and a close working relationship with (ISC)2, the organization responsible for the CISSP designation.
        </p>
      </div>
      <div id="demo1" class="collapse">
        <div class="resource-apps_card_overview">
          <p class="mt-2">
            Our CISSP flashcards provide terms and associated definitions that we know are critical for success on the exam.
          </p>
        </div>
        <div class="d-flex">
          <span class="resource-apps_card_subtitle">App Features</span>
        </div>
        <div class="resource-apps_card_features">
          <ul>
            <li>The ability mark which flashcards you know and which you need to review</li>
            <li>Bookmark flashcards that you specifically want to view later</li>
            <li>Add your own notes to each flashcard</li>
            <li>Status dashboard to help you track your study progress</li>
          </ul>
        </div>
      </div>
      <div class="show-more-btn-wrapper">
        <div class="show-more-btn mx-auto mt-3 mb-4 collapsed" data-toggle="collapse" data-target="#demo1">
          <span class="show-more more">Show more</span>
          <span class="show-more less">Show less</span>
          <mat-icon class="show-more-icon more">keyboard_arrow_down</mat-icon>
          <mat-icon class="show-more-icon less">keyboard_arrow_up</mat-icon>
        </div>
      </div>
      <div class="d-flex flex-column mt-4">
        <div class="d-flex mb-4">
          <mat-icon class="download-the-cissp-icon f13">arrow_downward</mat-icon>
          <span class="download-the-cissp-f">Download the CISSP Flashcards App now</span>
        </div>
        <div class="social-img-group d-flex">
          <img src="../../../../assets/images/google-btn.png" class="social-img" alt="Google">
          <img class="ml-3" src="../../../../assets/images/apple-btn.png" class="social-img" alt="Apple">
        </div>
      </div>
    </div>
  </div>
  <div class="resource-apps_card reversed d-flex">
    <div class="resource-apps_card_img d-flex">
      <img src='../../../../assets/images/card_app-1.png' alt="card_app-1">
    </div>
    <div class="resource-apps_card_details d-flex flex-column pl-40">
      <span class="resource-apps_card_title mb-1">CISSP Flashcards</span>
      <div class="sp-spacer my-3"></div>
      <div class="resource-apps_card_overview mt-1">
        <p>
          Want to pass the CISSP exam? Our CISSP flashcards are specifically written to help you pass the CISSP exam by leveraging over 20 years of knowledge teaching CISSP courses and a close working relationship with (ISC)2, the organization responsible for the CISSP designation.
        </p>
      </div>
      <div id="demo2" class="collapse">
        <div class="resource-apps_card_overview">
          <p class="mt-2">
            Our CISSP flashcards provide terms and associated definitions that we know are critical for success on the exam.
          </p>
        </div>
        <div class="d-flex">
          <span class="resource-apps_card_subtitle">App Features</span>
        </div>
        <div class="resource-apps_card_features">
          <ul>
            <li>The ability mark which flashcards you know and which you need to review</li>
            <li>Bookmark flashcards that you specifically want to view later</li>
            <li>Add your own notes to each flashcard</li>
            <li>Status dashboard to help you track your study progress</li>
          </ul>
        </div>
      </div>
      <div class="show-more-btn-wrapper">
        <div class="show-more-btn mx-auto mt-3 mb-4 collapsed" data-toggle="collapse" data-target="#demo2">
          <span class="show-more more">Show more</span>
          <span class="show-more less">Show less</span>
          <mat-icon class="show-more-icon more">keyboard_arrow_down</mat-icon>
          <mat-icon class="show-more-icon less">keyboard_arrow_up</mat-icon>
        </div>
      </div>
      <div class="d-flex flex-column mt-4">
        <div class="d-flex mb-4">
          <mat-icon class="download-the-cissp-icon f13">arrow_downward</mat-icon>
          <span class="download-the-cissp-f">Download the CISSP Flashcards App now</span>
        </div>
        <div class="social-img-group d-flex">
          <img src="../../../../assets/images/google-btn.png" class="social-img" alt="Google">
          <img class="ml-3" src="../../../../assets/images/apple-btn.png" class="social-img" alt="Apple">
        </div>
      </div>
    </div>
  </div>
  <div class="resource-apps_card d-flex">
    <div class="resource-apps_card_img d-flex">
      <img src='../../../../assets/images/card_app-2.png' alt="card_app-1">
    </div>
    <div class="resource-apps_card_details d-flex flex-column">
      <span class="resource-apps_card_title mb-1">CISSP Flashcards</span>
      <div class="sp-spacer my-3"></div>
      <div class="resource-apps_card_overview mt-1">
        <p>
          Want to pass the CISSP exam? Our CISSP flashcards are specifically written to help you pass the CISSP exam by leveraging over 20 years of knowledge teaching CISSP courses and a close working relationship with (ISC)2, the organization responsible for the CISSP designation.
        </p>
      </div>
      <div id="demo3" class="collapse">
        <div class="resource-apps_card_overview">
          <p class="mt-2">
            Our CISSP flashcards provide terms and associated definitions that we know are critical for success on the exam.
          </p>
        </div>
        <div class="d-flex">
          <span class="resource-apps_card_subtitle">App Features</span>
        </div>
        <div class="resource-apps_card_features">
          <ul>
            <li>The ability mark which flashcards you know and which you need to review</li>
            <li>Bookmark flashcards that you specifically want to view later</li>
            <li>Add your own notes to each flashcard</li>
            <li>Status dashboard to help you track your study progress</li>
          </ul>
        </div>
      </div>
      <div class="show-more-btn-wrapper">
        <div class="show-more-btn mx-auto mt-3 mb-4 collapsed" data-toggle="collapse" data-target="#demo3">
          <span class="show-more more">Show more</span>
          <span class="show-more less">Show less</span>
          <mat-icon class="show-more-icon more">keyboard_arrow_down</mat-icon>
          <mat-icon class="show-more-icon less">keyboard_arrow_up</mat-icon>
        </div>
      </div>
      <div class="d-flex flex-column mt-4">
        <div class="d-flex mb-4">
          <mat-icon class="download-the-cissp-icon f13">arrow_downward</mat-icon>
          <span class="download-the-cissp-f">Download the CISSP Flashcards App now</span>
        </div>
        <div class="social-img-group d-flex">
          <img src="../../../../assets/images/google-btn.png" class="social-img" alt="Google">
          <img class="ml-3" src="../../../../assets/images/apple-btn.png" class="social-img" alt="Apple">
        </div>
      </div>
    </div>
  </div>
</div>
