<nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between"
  [class]="scrollPosition >= 50 ? 'navbar1' : ''">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="sp-custom-navbar w-100 justify-content-between  align-items-start d-flex d-lg-none">
    <button class="btn border-0 p-0 sp-mobile-nav-icon"><a href="#"
        class="nav-icon navbar-brand-nav-icon--mobile"></a></button>
    <a class="btn sp-mobile-nav-btn--mobile d-flex align-items-center py-0" href="https://my.destcert.com">Dashboard</a>
  </div>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">
      <span class="nav-icon navbar-brand-nav-icon"
        [class]="scrollPosition >= 50 ? 'navbar-brand-nav-icon1' : ''"></span></a>
    <div class="sp-spacer d-md-none d-lg-none"></div>
    <div class="d-flex align-items-center navbar-items">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a (click)="setDocTitle('Home')" data-toggle="collapse" data-target="#navbarTogglerDemo01" routerLink="home" class="nav-link"
            [class]="scrollPosition >= 50 ? 'nav-link1' : 'nav-link'"><b>Home</b></a>
        </li>
        <li class="nav-item">
          <a (click)="setDocTitle('Courses')" data-toggle="collapse" data-target="#navbarTogglerDemo01" routerLink="courses" class="nav-link"
            [class]="scrollPosition >= 50 ? 'nav-link1' : 'nav-link'"><b>Courses</b></a>
        </li>
        <li class="nav-item">
          <a (click)="setDocTitle('Intelligent System')" data-toggle="collapse" data-target="#navbarTogglerDemo01" routerLink="features" class="nav-link"
            [class]="scrollPosition >= 50 ? 'nav-link1' : 'nav-link'"><b>Intelligent System</b></a>
        </li>
        <li class="nav-item">
          <a (click)="setDocTitle('Our Team')" data-toggle="collapse" data-target="#navbarTogglerDemo01" routerLink="our-team" class="nav-link"
            [class]="scrollPosition >= 50 ? 'nav-link1' : 'nav-link'"><b>Our Team</b></a>
        </li>
        <a class="btn sp-navbar-btn" href="https://my.destcert.com"><b>Dashboard</b></a>
      </ul>
    </div>
    <div class="sp-footer__divider d-lg-none d-m-none"></div>
    <div class="sp-footer text-sm-center d-lg-none d-sm-block sp-footer">
      <a href="https://www.facebook.com/Destination-Certification-242199760101700/" target="_blank"
        class="sp-footer__icon facebook-normal"></a>
      <a href="https://www.instagram.com/destcert/" target="_blank" class="sp-footer__icon instagram-normal"></a>
      <a href="https://ca.linkedin.com/company/destination-certification" target="_blank"
        class="sp-footer__icon linkedin-normal"></a>
      <a href="https://twitter.com/destcert" target="_blank" class="sp-footer__icon twitter-normal"></a>
      <a href="https://www.youtube.com/c/DestinationCertification" target="_blank"
        class="sp-footer__icon youtube-normal"></a>
    </div>
  </div>
</nav>
