<div class="sidenav-footer">
  <div class="sidenav-footer-links row mx-0">
    <div class="d-flex flex-column col-6 px-0 align-items-center align-items-md-start">
      <div class="sidenav-footer-links-title">Resource</div>
      <a (click)="setDocTitle('Videos')" class="nav-link sidenav-footer-link" routerLink="resource/videos">Videos</a>
      <a (click)="setDocTitle('Apps')" class="nav-link sidenav-footer-link" routerLink="resource/apps">Apps</a>
    </div>
    <div class="d-flex flex-column col-6 px-0 align-items-center align-items-md-start">
      <div class="sidenav-footer-links-title">Legal</div>
      <a class="nav-link sidenav-footer-link" routerLink="privacy-policy">Privacy Policy </a>
      <a class="nav-link sidenav-footer-link" href="#">Terms of use </a>
    </div>
    <div class="sp-footer sidenav-social-links d-flex flex-wrap col-12 justify-content-sm-center justify-content-center justify-content-md-start">
      <a href="https://www.facebook.com/Destination-Certification-242199760101700/" target="_blank"
        class="sp-footer__icon facebook-normal"></a>
      <a href="https://www.instagram.com/destcert/" target="_blank" class="sp-footer__icon instagram-normal"></a>
      <a href="https://ca.linkedin.com/company/destination-certification" target="_blank"
        class="sp-footer__icon linkedin-normal"></a>
      <a href="https://twitter.com/destcert" target="_blank" class="sp-footer__icon twitter-normal"></a>
      <a href="https://www.youtube.com/c/DestinationCertification" target="_blank"
        class="sp-footer__icon youtube-normal"></a>
    </div>
  </div>
  <div class="sidenav-footer-text-group">
    <span class="sidenav-footer-text pink">© Copyright 2021 Destination Certification.</span><br>
    <span class="sidenav-footer-text">All rights reserved.</span>
  </div>
</div>