.our-team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 140px 15px 120px;
  max-width: 994px;

  @media screen and (min-width: 1024px) {
    flex-direction: row;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1136px;
  }
}
