<div class="body-starsbg"></div>
<nav class="navbar navbar-expand-lg navbar-dark d-flex justify-content-between" [class]="scrollPosition >= 50 ? 'navbar1' : ''">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="sp-custom-navbar w-100 justify-content-between  align-items-start d-flex d-lg-none">
        <button class="btn border-0 p-0 sp-mobile-nav-icon"><a href="#" class="nav-icon navbar-brand-nav-icon--mobile"></a></button>
        <a class="btn sp-mobile-nav-btn--mobile" href="https://my.destcert.com">Dashboard</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand" href="#">
          <span
            class="nav-icon navbar-brand-nav-icon"
            [class]="scrollPosition >= 50 ? 'navbar-brand-nav-icon1' : ''"></span></a>
        <div class="sp-spacer d-md-none d-lg-none"></div>
        <div class="d-flex align-items-center navbar-items">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" [class]="scrollPosition >= 50 ? 'nav-link1' : 'nav-link'" href="courses/courses.html">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class]="scrollPosition >= 50 ? 'nav-link1' : 'nav-link'" href="int-sys/int-sys.html">Intelligent System</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [class]="scrollPosition >= 50 ? 'nav-link1' : 'nav-link'" href="our-team/our-team.html">Our Team</a>
                </li>
                <a class="btn sp-navbar-btn" href="https://my.destcert.com">Dashboard</a>
            </ul>
        </div>
        <div class="sp-footer__divider d-lg-none d-m-none"></div>
        <div class="sp-footer text-sm-center d-lg-none d-sm-block sp-footer">
            <a href="https://www.facebook.com/Destination-Certification-242199760101700/" target="_blank" class="sp-footer__icon facebook-normal"></a>
            <a href="https://www.instagram.com/destcert/" target="_blank" class="sp-footer__icon instagram-normal"></a>
            <a href="https://ca.linkedin.com/company/destination-certification" target="_blank" class="sp-footer__icon linkedin-normal"></a>
            <a href="https://twitter.com/destcert" target="_blank" class="sp-footer__icon twitter-normal"></a>
            <a href="https://www.youtube.com/c/DestinationCertification" target="_blank" class="sp-footer__icon youtube-normal"></a>
        </div>
    </div>
</nav>

<div class="sp-dsntsummit sp-item">
    <div class="sp-txt-con align-items-end col-sm-12 col-lg-6 col-md-6">
        <div class="pr-0 sp-res-width rellax" data-rellax-sm-speed="0" data-rellax-speed="2">
            <div class="sp-title"><span class="sp__title--bold">distant</span> summit</div>
            <div class="sp-spacer"></div>
            <div class="sp-description">For many, the CISSP & CCSP exams can seem like an unscalable peak, with countless pitfalls to be navigated and a daunting expanse of information to learn.</div>
        </div>
    </div>
    <div class="img-con rellax" data-rellax-speed="1" data-rellax-sm-speed="0" >
        <div class="img-clouds rellax" data-rellax-speed="0"></div>
        <div class="img-mountain rellax" data-rellax-speed="-2" data-rellax-sm-speed="0" ></div>
        <div class="img-trees rellax" data-rellax-speed="2" data-rellax-sm-speed="0" ></div>
        <div class="sp-gradient rellax"></div>
        <div class="img-people rellax" data-rellax-speed="9" data-rellax-sm-speed="0" ></div>
    </div>
</div>
<div class="sp-cissp-instructions sp-item align-items-end d-flex flex-column">
    <div class="sp-txt-con col-lg-6 col-md-6">
        <div class="sp-res-width pl-0">
<!--            <div class="sp-subtitle sp-pink">CISSP Instructions</div>-->
            <div class="sp-title">Don’t lose your bearings
                in a maze of information. </div>
            <div class="sp-spacer"></div>
            <div class="sp-description">An unguided journey can be terrifying, misguided, time-consuming and potentially devastating. We have the demonstrated ability to help you avoid the overwhelming mountain of irrelevant information and help you focus on what is critical to success.</div>
        </div>
    </div>
</div>
<div class="sp-cissp-leadership sp-item row align-items-center">
    <div class="sp-txt-con col-sm-12 col-lg-6 col-md-6 position-relative align-items-end">
        <div class="pr-0 sp-res-width">
<!--            <div class="sp-subtitle sp-pink">CISSP Leadership</div>-->
            <div class="sp-title">Let our experienced team guide your path to success.</div>
            <div class="sp-spacer"></div>
            <div class="sp-description">Based on decades of experience and deep involvement with (ISC)2 we have the demonstrated ability to help you efficiently and effectively prepare to pass the CISSP & CCSP exams. Think of us and our system as your personal GPS to success.</div>
            <a class="btn sp-button" href="our-team/our-team.html">Our Amazing Instructors</a>
        </div>
    </div>
    <div class="col-sm-12 col-lg-6 col-md-6 img-con rellax" data-rellax-speed="0">
        <div class="img-clouds"></div>
        <div class="img-mountain--leadership rellax" data-rellax-speed="0"></div>
        <div class="img-people rellax" data-rellax-speed="3" data-rellax-xs-speed="0"></div>
    </div>
</div>
<div class="sp-video sp-item row d-flex flex-column justify-content-center align-items-center">
    <span class="img-video"></span>
    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/GEqSpsbHdCY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="sp-intelligent-system sp-item row align-items-center col-lg-12 m-auto">
    <div class="img-con col-sm-12 col-lg-6 col-md-6 d-flex rellax justify-content-center" data-rellax-speed="0">
        <div class="sp-img-res-width d-inline-flex flex-column justify-content-center align-items-center">
            <div class="sp-int__first-sec">
                <div class="sp-int__item">
                    <div class="sp-int__item-icon flash-card-app"></div>
                    <div>Flash Card<br>App</div>
                </div>
                <div class="sp-int__item">
                    <div class="sp-int__item-icon practice-question-app"></div>
                    <div>Practice<br>Question App</div>
                </div>
                <div class="sp-int__item">
                    <div class="sp-int__item-icon knowledge-assessments"></div>
                    <div>Knowledge<br>Assessments</div>
                </div>
                <div class="sp-int__item">
                    <div class="sp-int__item-icon cat-exam-simulator"></div>
                    <div>CAT Exam<br>Simulator</div>
                </div>
            </div>
            <div class="sp-int__second-sec">
                <div class="ai-connector-top"></div>
            </div>
            <div class="ai-bg">
                <div class="ai-bg--gif"></div>
            </div>
            <div class="ai-connector-middle"></div>
            <div class="sp-int__item">
                <div class="sp-int__item-icon student-dashboard"></div>
                <div>Student<br>Dashboard</div>
            </div>
            <div class="ai-connector-middle"></div>
            <div class="sp-int__item">
                <div class="sp-int__item-icon personalized-guide"></div>
                <div>Personalized<br>Study Guide</div>
            </div>
            <div class="sp-int__third-sec">
                <div class="ai-connector-bottom"></div>
            </div>
            <div class="sp-int__last-sec">
                <div class="sp-int__item">
                    <div class="sp-int__item-icon mindmaps"></div>
                    <div>MindMaps</div>
                </div>
                <div class="sp-int__item">
                    <div class="sp-int__item-icon amazing-instructors"></div>
                    <div>Amazing<br>Instructors</div>
                </div>
                <div class="sp-int__item">
                    <div class="sp-int__item-icon exam-strategy"></div>
                    <div>Exam<br>Strategy</div>
                </div>
                <div class="sp-int__item">
                    <div class="sp-int__item-icon masterclass-videos"></div>
                    <div>Masterclass<br>Videos</div>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-txt-con col-sm-12 col-lg-6 col-md-6 position-relative">
        <div class="pl-0 sp-res-width">
<!--            <div class="sp-subtitle sp-pink">Intelligent System</div>-->
            <div class="sp-title"><span class="d-none d-sm-block">Our complete integrated <span class="sp-pink">intelligent</span><br> learning system</span><span class="d-lg-none d-md-none">Our complete integrated <span class="sp-pink">intelligent</span> learning system</span></div>
            <div class="sp-spacer"></div>
            <div class="sp-description">We provide a complete system of learning tools that continually assess your unique strengths and weaknesses and guide you on what you need to focus on by creating a personalized study guide for you and targeted recommendations.</div>
            <a class="btn sp-button" href="int-sys/int-sys.html">Read More</a>
        </div>
    </div>
</div>
<div class="sp-certification sp-item row align-items-center col-lg-12 m-auto">
    <div class="sp-txt-con align-items-end col-sm-12 col-lg-5 col-md-5 position-relative">
        <div class="pr-0 sp-res-width">
<!--            <div class="sp-subtitle sp-pink">Certification</div>-->
            <div class="sp-title">Achieve your certification goals!</div>
            <div class="sp-spacer"></div>
            <div class="sp-description">We love nothing more than for our students to learn, obtain their certification goals, and become better security professionals. Place your trust in our experience and let us guide you to the summit of certification.</div>
        </div>
    </div>
    <div class="col-sm-12 col-lg-7 col-md-7 img-con">
        <div class="img-people-certification"></div>
    </div>
</div>

<div class="sp-testm-footer d-flex flex-column">
    <div class="sp-testm d-flex flex-column justify-content-center align-items-center">
        <div class="quote-icon"></div>
<!--        <div class="sp-subtitle sp-pink">Testimonials</div>-->
        <div class="sp-title">Our students love us</div>
        <div class="sp-spacer"></div>
        <div class="dc-carousel">
            <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="dc-carousel__item">
                            <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic1.jpg"/>
                            <div class="dc-carousel__item-desc">
                                I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                            </div>
                            <div class="sp-footer__divider"></div>
                            <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                            <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                        </div>
                        <div class="dc-carousel__item">
                            <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic2.jpg"/>
                            <div class="dc-carousel__item-desc">
                                I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                            </div>
                            <div class="sp-footer__divider"></div>
                            <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                            <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                        </div>
                        <div class="dc-carousel__item">
                            <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic3.jpg"/>
                            <div class="dc-carousel__item-desc">
                                I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                            </div>
                            <div class="sp-footer__divider"></div>
                            <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                            <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="dc-carousel__item">
                            <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic4.jpg"/>
                            <div class="dc-carousel__item-desc">
                                I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                            </div>
                            <div class="sp-footer__divider"></div>
                            <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                            <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                        </div>
                        <div class="dc-carousel__item">
                            <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic5.jpg"/>
                            <div class="dc-carousel__item-desc">
                                I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                            </div>
                            <div class="sp-footer__divider"></div>
                            <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                            <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                        </div>
                        <div class="dc-carousel__item">
                            <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic6.jpg"/>
                            <div class="dc-carousel__item-desc">
                                I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                            </div>
                            <div class="sp-footer__divider"></div>
                            <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                            <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                        </div>
                    </div>
                    <div class="carousel-item ">
                        <div class="dc-carousel__item">
                            <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic4.jpg"/>
                            <div class="dc-carousel__item-desc">
                                I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                            </div>
                            <div class="sp-footer__divider"></div>
                            <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                            <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                        </div>
                        <div class="dc-carousel__item">
                            <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic5.jpg"/>
                            <div class="dc-carousel__item-desc">
                                I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                            </div>
                            <div class="sp-footer__divider"></div>
                            <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                            <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                        </div>
                        <div class="dc-carousel__item">
                            <img class="dc-carousel__item-img rounded-circle" src="assets/images/testimonials/testimonal-pic6.jpg"/>
                            <div class="dc-carousel__item-desc">
                                I had a great experience. I can honestly say you were the best teachers. I have had in my entire educational career. I passed only because I attended this training. I am not even happy I passed, I am happy I got a chance to learn so much from you two.
                            </div>
                            <div class="sp-footer__divider"></div>
                            <div class="dc-carousel__item-name sp-pink">Urooj Aqeel</div>
                            <div class="dc-carousel__item-location">Kreyel Networks Ltd.</div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselIndicators" data-slide-to="2"></li>
                </ol>
            </div>
        </div>
    </div>

    <footer class="sp-footer">
        <div class="d-flex sp-footer-res-width row m-auto">
            <div class="col-md-4 col-sm-12 d-flex flex-column justify-content-sm-center text-center text-md-left justify-content-md-between">
                <div class="sp-footer__logo"></div>
                <div class="sp-pink mb-1">© 2020 Destination Certification Inc.</div>
                <div class="sp-purple">All rights reserved.</div>
            </div>
            <div class="sp-footer__divider d-lg-none d-md-none d-sm-block w-75"></div>
            <div class="col-md-5 col-sm-12 p-0 row">
                <div class="sp-footer__list d-flex flex-column col-6 align-items-center align-items-md-start">
                    <div class="sp-footer__sec-title">Company</div>
                    <a class="sp-purple" href="../courses/courses.html">Courses</a>
                    <a class="sp-purple" href="../int-sys/int-sys.html">Intelligent System</a>
                    <a class="sp-purple" href="#">Our Team</a>
                </div>
                <div class="sp-footer__list d-flex flex-column col-6 align-items-center align-items-md-start">
                    <div class="sp-footer__sec-title">Legal</div>
                    <a class="sp-purple" href="#">Privacy Policy </a>
                    <a class="sp-purple" href="#">Terms of use </a>
                </div>
            </div>
            <div class="sp-footer__divider d-lg-none d-md-none d-sm-block w-75"></div>
            <div class="d-flex flex-fill flex-column col-sm-12 col-md-3 p-0 text-center text-md-left">
                <div>Follow us</div>
                <div class="d-flex flex-wrap justify-content-sm-center justify-content-center justify-content-md-start">
                    <a href="https://www.facebook.com/Destination-Certification-242199760101700/" target="_blank" class="sp-footer__icon facebook-normal"></a>
                    <a href="https://www.instagram.com/destcert/" target="_blank" class="sp-footer__icon instagram-normal"></a>
                    <a href="https://ca.linkedin.com/company/destination-certification" target="_blank" class="sp-footer__icon linkedin-normal"></a>
                    <a href="https://twitter.com/destcert" target="_blank" class="sp-footer__icon twitter-normal"></a>
                    <a href="https://www.youtube.com/c/DestinationCertification" target="_blank" class="sp-footer__icon youtube-normal"></a>
                </div>
            </div>
        </div>
    </footer>
</div>

<script src="assets/rellax/rellax.min.js"></script>

<script src="assets/rellax/rellax.min.js"></script>
<script>
    // Accepts any class name
    // var rellax = new Rellax('.rellax');

    // Set wrapper to .custom-element instead of the body
    // var rellax = new Rellax('.rellax');

    // This is the default setting
    var rellax = new Rellax('.rellax', {
        breakpoints: [325, 1200, 1400]
    });
</script>
<script src="index.js"></script>