.sp-dsntsummit {
  .sp-res-width {
    width: 100%;
    padding-left: 150px;

    @media screen and (max-width: 1024px) {
      padding-left: 80px;
    }

    .sp-title {
      text-align: left;
      font-size: 88px;

      @media screen and (max-width: 1024px) {
        font-size: 80px;
        font-weight: bold;
        letter-spacing: 0.49px;
        line-height: 76px;
      }
    }

    .sp-description {
      max-width: 330px;
    }
  }
}

.sp-cissp-instructions {
  .sp-res-width {
    width: 100%;
  }

  .sp-title {
    line-height: 50px;
    max-width: 350px;
    text-align: left;
  }

  .sp-description {
    max-width: 350px;
    text-align: left;
  }
}

.sp-cissp-leadership {
  background: none;

  .bg {
    height: 110vh;
    width: 100vw;
    position: absolute;
    background: url(../../../assets/images/stars-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    scroll-snap-align: center;
    opacity: 0.2;
  }

  .sp-txt-con {
    width: 45%;
  }

  .sp-img-con {
    width: 55%;
  }

  .sp-res-width {
    width: 100%;
    padding-left: 80px;
  }

  .sp-mark {
    color: #D7779B;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 25px;
  }

  .sp-title {
    max-width: 325px;
    line-height: 50px;
    text-align: left;
  }

  .sp-description {
    width: 329px;
  }
}
