<div class="sp-dsntsummit sp-item">
  <div class="sp-txt-con align-items-end col-sm-12 col-lg-9 col-md-9">
    <div class="pr-0 sp-res-width rellax" data-rellax-sm-speed="0" data-rellax-speed="2">
      <div class="sp-title d-flex flex-column"><span>CISSP & CCSP</span><span>Masterclasses</span></div>
      <div class="sp-spacer my-3"></div>
      <div class="sp-description">
        <span>We are your guides to lead you on the path to success on the CISSP & CCSP exams and to being a better
          security professional</span>
      </div>
    </div>
  </div>
  <div class="img-con rellax" data-rellax-speed="1" data-rellax-sm-speed="0">
    <div class="img-clouds rellax" data-rellax-speed="0"></div>
    <div class="img-mountain rellax" data-rellax-speed="-2" data-rellax-sm-speed="0"></div>
    <div class="img-trees rellax" data-rellax-speed="1" data-rellax-sm-speed="0"></div>
    <div class="sp-gradient rellax"></div>
    <div class="img-people rellax" data-rellax-speed="8" data-rellax-sm-speed="0"></div>
  </div>
</div>
<div class="sp-cissp-instructions sp-item align-items-end d-flex flex-column">
  <div class="sp-txt-con col-lg-6 col-md-6">
    <div class="sp-res-width pl-0">
      <div class="sp-title">
        <span>Don’t lose your bearings in a vast forest of information</span>
      </div>
      <div class="sp-spacer my-3 pt-1"></div>
      <div class="sp-description">
        <span>An unguided journey can be inefficient and time-consuming, and often leads to missteps. There is an
          verwhelming amount of study material available. We can help you focus on what is critical to success.</span>
      </div>
    </div>
  </div>
</div>
<div class="sp-cissp-leadership sp-item row align-items-center">
  <div class="bg"></div>
  <div class="sp-txt-con col-sm-12 col-lg-6 col-md-6 position-relative align-items-end">
    <div class="pr-0 sp-res-width">
      <div class="sp-subtitle sp-pink">CISSP Leadership</div>
      <div class="sp-title">
        <span>Let our experience be your path to success</span>
      </div>
      <div class="sp-spacer my-3"></div>
      <div class="sp-description mb-3">
        <span>With decades of experience guiding thousands of our students to success on the CISSP & CCPS exams, and
          deep involvement with (ISC)2, we possess the proven ability to help students prepare for the CISSP and CCSP
          exams efficiently and effectively. Think of us as wise sherpas and our system as your guide and personal
          compass to success.</span>
      </div>
      <a class="btn sp-button" href="our-team/our-team.html">Our Amazing Instructors</a>
    </div>
  </div>
  <div class="sp-img-con col-sm-12 col-lg-6 col-md-6 img-con rellax" data-rellax-speed="0">
    <div class="img-clouds"></div>
    <div class="img-mountain--leadership rellax" data-rellax-speed="1"></div>
    <div class="img-people rellax" data-rellax-speed="6" data-rellax-xs-speed="0"></div>
  </div>
</div>

<div class="embed-responsive sp-iframe-section" [class.embed-responsive-16by9]="!isSmallScreen" [class.embed-responsive-4by3]="isSmallScreen">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GEqSpsbHdCY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<div class="sp-intelligent-system sp-item row align-items-center col-lg-12 m-auto">
  <div class="img-con col-sm-12 col-lg-6 col-md-6 d-flex rellax justify-content-center" data-rellax-speed="0">
    <div class="sp-img-res-width d-inline-flex flex-column justify-content-center align-items-center">
      <div class="sp-int__first-sec">
        <div class="sp-int__item">
          <div class="sp-int__item-icon flash-card-app"></div>
          <div>Flash Card<br>App</div>
        </div>
        <div class="sp-int__item">
          <div class="sp-int__item-icon practice-question-app"></div>
          <div>Practice<br>Question App</div>
        </div>
        <div class="sp-int__item">
          <div class="sp-int__item-icon knowledge-assessments"></div>
          <div>Knowledge<br>Assessments</div>
        </div>
        <div class="sp-int__item">
          <div class="sp-int__item-icon cat-exam-simulator"></div>
          <div>CAT Exam<br>Simulator</div>
        </div>
      </div>
      <div class="sp-int__second-sec">
        <div class="ai-connector-top"></div>
      </div>
      <div class="ai-bg">
        <div class="ai-bg--gif"></div>
      </div>
      <div class="ai-connector-middle"></div>
      <div class="sp-int__item">
        <div class="sp-int__item-icon student-dashboard"></div>
        <div>Student<br>Dashboard</div>
      </div>
      <div class="ai-connector-middle"></div>
      <div class="sp-int__item">
        <div class="sp-int__item-icon personalized-guide"></div>
        <div>Personalized<br>Study Guide</div>
      </div>
      <div class="sp-int__third-sec">
        <div class="ai-connector-bottom"></div>
      </div>
      <div class="sp-int__last-sec">
        <div class="sp-int__item">
          <div class="sp-int__item-icon mindmaps"></div>
          <div>MindMaps</div>
        </div>
        <div class="sp-int__item">
          <div class="sp-int__item-icon amazing-instructors"></div>
          <div>Amazing<br>Instructors</div>
        </div>
        <div class="sp-int__item">
          <div class="sp-int__item-icon exam-strategy"></div>
          <div>Exam<br>Strategy</div>
        </div>
        <div class="sp-int__item">
          <div class="sp-int__item-icon masterclass-videos"></div>
          <div>Masterclass<br>Videos</div>
        </div>
      </div>
    </div>
  </div>

  <div class="sp-txt-con col-sm-12 col-lg-6 col-md-6 position-relative">
    <div class="pl-0 sp-res-width">
      <div class="sp-subtitle sp-pink">Intelligent System</div>
      <div class="sp-title">
        <span class="d-sm-block">Our complete integrated intelligent learning system</span>
      </div>
      <div class="sp-spacer"></div>
      <div class="sp-description">We provide a complete system of learning tools that continually assess your unique
        strengths and weaknesses and guide you on what you need to focus on by creating a personalized study guide for
        you and targeted recommendations.</div>
      <a class="btn sp-button" href="int-sys/int-sys.html">Read More</a>
    </div>
  </div>
</div>
<div class="sp-certification sp-item row align-items-center col-lg-12 m-auto">
  <div class="bg"></div>
  <div class="sp-txt-con align-items-start col-sm-12 col-lg-5 col-md-5 position-relative">
    <div class="pr-0 sp-res-width">
      <div class="sp-title">Achieve your certification goals!</div>
      <div class="sp-spacer"></div>
      <div class="sp-description">
        <span>We love working with our students, helping them achieve their certification goals, and equipping them to be better security professionals. Place your trust in our experienced team and let us guide YOU to the summit of certification.</span>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-lg-7 col-md-7 img-con">
    <div class="img-people-certification"></div>
  </div>
</div>
