.sp-dsntsummit {
  .sp-res-width {
    width: 100%;
    padding-left: 80px;

    .sp-title {
      text-align: left;

      @media screen and (max-width: 1024px) {
        font-size: 80px;
        font-weight: bold;
        letter-spacing: 0.49px;
        line-height: 76px;
      }
    }

    .sp-description {
      max-width: 330px;
    }
  }
}

.sp-cissp-instructions {
  .sp-res-width {
    width: 100%;
  }

  .sp-title {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 50px;
    max-width: 350px;
    text-align: left;
  }

  .sp-description {
    max-width: 350px;
    text-align: left;
  }
}

.sp-cissp-leadership
{
  .sp-res-width {
  }

  .sp-title {
    
  }

  .sp-description {
  }
}
