<div class="cissp-mind-card cissp-mind-card1">
  <div class="cissp-mind-card__body">
    <img src="../../../assets/images/header-logo.png" width="53" height="28">
    <span class="mindmap text-uppercase">mindmap</span>
    <span class="explained">CISSP Domain 1</span>
    <span class="mind-num">(1 of 9)</span>
    <div class="d-flex ml-auto justify-content-center video-duration">
      <span>6:45:20</span>
    </div>
  </div>
  <span class="mind-map">MindMap</span>
  <div class="d-flex download-mind-map">
    <mat-icon class="download-the-cissp-icon f13">arrow_downward</mat-icon>
    <span>MindMap</span>
  </div>
</div>